<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.gmail.kramarenko104.filter.AdminFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/adminNewProduct</url-pattern>
    </filter-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>

</web-app>